/* Para añadir estilos a las etiquetas se debe poner la etiqueta y ya.
Ejemplo: 

p {
    estilos
}

Para añadir estilos a una clase se empieza con un punto.
Ejemplo:

.clase {
    estilos
}

Para añadir estilos a un ID se empieza con #.
Ejemplo:

#ID {
    estilos
} */

.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0 ;
    background-color: #13a4a4;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: white;
    padding: 5px;
    text-decoration: none;
}

/* La pseudoclase HOVER, ACTIVE se usa para que al poner el mouse encima de un elemento este interactue con el usuario
 */
.main-nav__item a:hover {
    color: blue;
}

.main-nav__item a:active {
    color: red;
}

.main-nav__item a::after {
    content: " | ";
}