/* Para añadir estilos a las etiquetas se debe poner la etiqueta y ya.
Ejemplo: 

p {
    estilos
}

Para añadir estilos a una clase se empieza con un punto.
Ejemplo:

.clase {
    estilos
}

Para añadir estilos a un ID se empieza con #.
Ejemplo:

#ID {
    estilos
} */